# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT
*.pro.user

# EXAMPLE & EXE
*.out
createBIM/createBIM
createEVENT/createEVENT
createEDP/createEDP
createSAM/createSAM
createLOSS/createLOSS
createLOSS/DL-data.tar.gz
performUQ/extractEDP
performUQ/finishUP.sh
getUncertainty
mainPreprocessor
mainPostprocessor
dakota*
templatedir
workdir.*
*.tcl

*.gz
*.csv

