# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT
*.pro.user

# EXAMPLE & EXE
*.out
createBIM/createBIM
createBIM/UrbanSimDatabase
createEVENT/createEVENT
createEDP/createEDP
createEDP/StandardEarthquakeEDP
createSAM/createSAM
createSAM/MDOF-LU
createSAM/processSAM
createLOSS/createLOSS
createEVENT/LLNL_SW4
createLOSS/FEMAP58_LU
createLOSS/DL-data.tar.gz
performUQ/extractEDP
performUQ/finishUP.sh
getUncertainty
mainPreprocessor
mainPostprocessor
dakota*
templatedir
workdir.*
*.tcl

*.gz
*.csv

# Pegasus stuff
Pegasus/plan.*
Pegasus/tacc/*.out
Pegasus/tacc/*.err

